/*================================================================= Kích thước =================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

/*================================================================= header =================================================================*/
.top-header {
    background-color: #009879;
}

.bottom-header {
    border-bottom: 1px solid gainsboro;
}

.bottom-header img {
    width: 140px;
}

/*================================================================= dangky/dangnhap phần header =================================================================*/
.form-menu a {
    text-decoration: none;
    color: #202114;
}

.form-menu a i {
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 8px;
}

.form-menu a:hover i {
    border: 1px solid #009B48;
}

.form-menu .dn-header li {
    list-style-type: none;
}

.dn-header img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.avatar-header {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
}

.acc {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-top p {
    padding-top: 20px;
    font-size: 14px;
    color: #009B48;
}

/*================================================================= box sản phẩm trang chủ =================================================================*/

.boxsp {
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.boxsp:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.boxsp a {
    color: #202114;
    text-decoration: none;
}

.boxsp img {
    width: 140px;
}

.boxsp .box-title a:hover {
    color: #009B48;
}

.boxsp .boxsp-content {
    text-align: left;
    font-size: 14px;
    color: #575757;
}

.boxsp .money span {
    background-color: #009B48;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.boxsp .money p {
    background-color: #009B48;
    color: #fff;
    border-radius: 20px;
    font-weight: 800;
}

.btn-shop:hover {
    color: #009B48;
}

.btn-shop-text {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

/*================================================================= Sản phẩm chi tiết =================================================================*/

.box-left img {
    width: 300px;
}

.box-right {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.box-right .content-ctsp {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.box-right .content-ctsp p {
    display: flex;
    justify-content: space-between;
}

/*===========================================================Phân trang==========================================================*/
.page {
    text-align: center;
    margin-top: 20px;
}

.page a {
    padding: 4px 10px;
    border: 1px solid #009B48;
    text-decoration: none;
    color: #202114;
}

.page .active {
    padding: 5px 10px;
    background-color: #009B48;
    color: #fff;
}

/*================================================================= Bình luận =================================================================*/
.binhluan {
    background: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px;
}

.binhluan-title {
    margin-bottom: 8px;
}

.binhluan img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.binhluan input[type="text"] {
    width: 80%;
    padding: 10.5px;
    border: 1px solid #ccc;
    outline: none;
}

.binhluan input[type="submit"] {
    background-color: #009B48;
    border: none;
    color: #fff;
    padding-left: 5px;
}

.binhluan span {
    background-color: #009B48;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.add-bl {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}

.avatar-bl {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-name {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
}

.comment {
    margin-left: 45px;
}

.noidung {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    min-height: 70px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3px;
}

.ngaybl {
    font-size: 12px;
    text-align: right;
}

/*================================================================= Cập nhật thông tin tài khoản =================================================================*/
.boxtaikhoan {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.boxtaikhoan a {
    text-decoration: none;
    color: #202114;
}

.boxtrai {
    margin-top: 20px;
}

.boxtrai-img {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.boxtrai img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.boxtrai-img p {
    margin-bottom: 5px;
}

.boxtrai .boxdm p {
    margin-top: 15px;
}

.boxtrai a:hover {
    color: #009B48;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.boxphai {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px;
}

.boxphai .boxphai-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.boxphai .boxphai-title .tieude1 {
    margin-bottom: 5px;
    font-size: 18px;
}

.boxphai .boxphai-title .tieude2 {
    font-size: 14px;
    color: #575757;
}

.boxtaikhoan input[type="text"],
.boxtaikhoan input[type="file"] {
    width: 500px;
    padding: 7px 10px;
    background: #fff;
    border: 1px solid #ccc;
    outline: none;
}

.boxphai .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.boxtaikhoan input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #009B48;
    background-color: #009B48;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
}

.boxtaikhoan input[type="submit"]:hover {
    opacity: 0.85;
}

.boxphai label {
    color: #575757;
    font-size: 14px;
}

/*================================================================= Form đăng nhâp/đăng ký =================================================================*/
#wrapper {
    background-color: #fff;
    color: #202114;
}

#wrapper form {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: auto;
}

#wrapper h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

#wrapper .dk {
    color: #1a73e8;
}

#wrapper .dk:hover {
    cursor: pointer;
    text-decoration: underline;
}

#wrapper a {
    text-decoration: none;
    color: black;
}

#wrapper .span {
    font-size: 13px;
}

.form-group {
    margin-bottom: 15px;
}

#wrapper input[type="text"],
#wrapper input[type="email"],
#wrapper input[type="password"] {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 15px;
    color: #202114;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 6px;
}

#wrapper input[type="text"]:focus,
#wrapper input[type="password"]:focus,
#wrapper input[type="email"]:focus {
    border: 1px solid #202114;
    color: #222;
    outline: none;
}

#wrapper form input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #009B48;
    background-color: #009B48;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
}

#wrapper .center {
    text-align: center;
}

#wrapper form input[type="submit"]:hover {
    opacity: 0.85;
}

.social-container {
    margin: 20px 0 5px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

.social-container a:hover {
    background-color: #dddddd;
}

#wrapper .mk {
    text-align: right;
    font-size: 14px;
    color: #1a73e8;
}

#wrapper .mk:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*=========================================================== Form quên mật khẩu =========================================================*/
#wrapper-1 {
    background-color: #fff;
    color: #202114;
}

#wrapper-1 form {
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22); */
    width: 45%;
    margin: auto;
}

#wrapper-1 h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

#wrapper-1 input[type="email"] {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 15px;
    color: #202114;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 6px;
}

#wrapper-1 input[type="email"]:focus {
    border: 1px solid #202114;
    color: #222;
    outline: none;
}

#wrapper-1 form input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #009B48;
    background-color: #009B48;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
}

#wrapper-1 form input[type="submit"]:hover {
    opacity: 0.85;
}

#wrapper-1 a {
    text-decoration: none;
}

#wrapper-1 .dk {
    color: #1a73e8;
}

#wrapper-1 .dk:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*========================================================= Form đổi mật khẩu ==========================================================*/
#wrapper-2 {
    background-color: #fff;
    color: #202114;
}

#wrapper-2 form {
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: auto;
}

#wrapper-2 h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

#wrapper-2 input[type="password"] {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 15px;
    color: #202114;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 6px;
}

#wrapper-2 input[type="password"]:focus {
    border: 1px solid #202114;
    color: #222;
    outline: none;
}

#wrapper-2 form input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #009B48;
    background-color: #009B48;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
}

#wrapper-2 form input[type="submit"]:hover {
    opacity: 0.85;
}

#wrapper-2 a {
    text-decoration: none;
}

#wrapper-2 .dk {
    color: #1a73e8;
}

#wrapper-2 .dk:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*====================================================== Giỏ hàng ==========================================================*/
.form-giohang {
    margin: auto 30px;
}

.form-giohang .title-giohang {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.form-giohang .title-giohang a {
    text-decoration: none;
    color: #202114;
}

.form-giohang .content-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.form-giohang .content-table thead tr {
    background-color: #009879;
    color: #fff;
}

.form-giohang .content-table td,
.form-giohang .content-table th {
    padding: 10px 20px;
    text-align: center;
}

.form-giohang .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.form-giohang .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.form-giohang .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.form-giohang input[type="button"] {
    border: 1px solid #009879;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
}

.form-giohang input[type="button"]:hover {
    background-color: #009879;
    color: #fff;
}

.form-giohang .login {
    color: #1a73e8;
    text-decoration: none;
}

.form-giohang .login:hover {
    text-decoration: underline;
}

.form-giohang .quantity a {
    font-size: 20px;
}

.form-giohang .quantity a:hover {
    cursor: pointer;
}

/*========================================================= Đặt hàng ===========================================================*/
.bill {
    display: flex;
    gap: 30px;
    margin: 0 30px;
    justify-content: space-between;
}

.giohang {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #009879;
    padding: 30px;
    border-radius: 4px;
    margin: 5px 0;
}

.giohang2 {
    border: 1px solid #009879;
    padding: 20px;
    border-radius: 4px;
    
}

.order {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.giohang2 .title-cart {
    font-size: 20px;
    color: #202114;
}

.giohang2 .total {
    text-align: center;
    font-weight: bold;
}

.giohang .content-on {
    color: #202114;
    margin-bottom: 15px;
}

.giohang .content-below {
    color: #009879;
}

.giohang .content-below p {
    margin-top: 5px;
}

.bill .left {
    width: 65%;
}

.bill .left input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-top: 6px;
}

.bill .left input[type="text"]:focus {
    border: 1px solid #009879;
    color: #222;
    outline: none;
}

.bill .left .order-form {
    border: 1px solid #009879;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

.bill .left .order-form p {
    padding-bottom: 5px;
    border-bottom: 1px solid #009879;
    margin-bottom: 15px;
}

.bill .left .payment {
    border: 1px solid #009879;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
}

.bill .left .payment p {
    padding-bottom: 5px;
    border-bottom: 1px solid #009879;
    margin-bottom: 15px;
}

.bill input[type="submit"] {
    border: 1px solid #009879;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
}

.bill input[type="submit"]:hover {
    background-color: #009879;
    color: #fff;
}

/*====================================================== Trang cảm ơn ========================================================*/
.billcomfirm {
    text-align: center;
}

.billcomfirm h4 {
    margin: 15px 0;
}

.billcomfirm .btn-a {
    margin-top: 25px;
}

.billcomfirm a {
    padding: 8px;
    background-color: #009B48;
    text-decoration: none;
    color: #fff;
}

.billcomfirm .content-bill {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 15px 0;
}

/*====================================================== Đơn hàng của tôi ==============================================*/
.boxtaikhoan .content-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

.boxtaikhoan .content-table thead tr {
    background-color: #009879;
    color: #fff;
    font-weight: bold;
}

.boxtaikhoan .content-table td,
.boxtaikhoan .content-table th {
    padding: 10px 10px;
    text-align: center;
}

.boxtaikhoan .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.boxtaikhoan .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.boxtaikhoan .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.boxtaikhoan .boxphai .content-table input[type="button"] {
    border: 1px solid #009879;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
}

.boxtaikhoan .boxphai .content-table input[type="button"]:hover {
    background-color: #009879;
    color: #fff;
}

.boxtaikhoan .boxphai .contact-info p {
    margin-bottom: 5px;
}

/*=========================================================== Footer ===========================================================*/
.footer {
    background: #eee;
}
.footer img {
    width: 140px;
}
.footer .box p {
    font-weight: bold;
    margin-bottom: 8px;
}
.footer ul li {
    list-style-type: none;
} 